<% include partials/header%>
<div class="container">
    <div class="row">
<h1 style="text-align:center">Add Comment to<%=post._name%></h1>
<div style="width:30% ; margin:25px auto;">

<form action="/posts/<%=post._id%>/comments"  method="post">
    <div class="form-group">
<input class="form-control" type="text" name="comments[title]" placeholder="Text" required>
</div>


<button class="btn btn-success btn-large btn-block">Create a new post</button>
</form>
<div style="margin:20px auto;">
<a  href="/posts">Go Back!!</a>
</div>
</div>
</div>
</div>
<% include partials/footer %>